@media only screen and (min-width: 600px) {
  .content_wrapper {
    width: 100%;
    overflow: hidden;
  }

  .content {
    width: 60%;
    float: left;
    height: 100%;
  }

  .side-panel {
    overflow: hidden;
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .content_wrapper {
    width: 100%;
  }

  .content {
    height: 100%;
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
  }

  .side-panel {
    height: 100%;

  }

}

.content-card{
  min-height: 400px;
}

.last-searched-panel-box{
  min-height: 200px;
}

.ads-panel-box{
  min-height: 200px;

  background-color: purple;
}

::ng-deep .snackbar{
  background: #3a3d3b;
  color: #FFF;
}

