<mat-form-field class="server-group-field" appearance="fill">
  <mat-label>Server group name</mat-label>
  <input matInput type="text" [(ngModel)]="serverGroupName">
</mat-form-field>

<button mat-raised-button color="primary" class="settings-save-button" (click)="addNewServerGroup()"
        [disabled]="this.submitted">Add new</button>

<mat-list>
  <ng-container *ngFor="let serverGroup of serverGroups">
    <mat-list-item>{{serverGroup.serverGroupName}}
      <button matSuffix mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
