@media only screen and (min-width: 600px) {
  .settings-field {
    min-width: 400px;
    max-width: 100%;
  }

  .settings-field-margin{
    margin-left: 10px;
  }

  .settings-save-button{
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .settings-field {
    min-width: 300px;
    max-width: 100%;
  }

  .settings-field-margin{}
  .settings-save-button{
    margin-bottom: 15px;
  }
}

.settings-divider{
  margin-top: 15px;
}
