<mat-form-field class="game-name-field" appearance="fill">
  <mat-label>Game name</mat-label>
  <input matInput type="text" [(ngModel)]="searchGameName" [matAutocomplete]="auto" (input)="valueChanged($event)">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='selectedGameName($event.option.value)'>
    <mat-option *ngFor="let game of games" [value]="game.gameName">
      {{game.gameName}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<p *ngIf="selectedGame">
  <img mat-list-avatar src="{{selectedGame.coverImg}}" alt="" class="search-game-cover-img">
  <span class="search-game-name">{{selectedGame.gameName}}</span>
</p>

<mat-list *ngIf="selectedGame">
  <ng-container *ngFor="let serverGroup of serverGroups">
    <mat-list-item>{{serverGroup.serverGroupName}}</mat-list-item>
    <mat-list style="margin-left:30px;">
      <div *ngFor="let server of serverGroup.servers">
        <mat-list-item>{{ server.serverName }}
          <ng-container *ngIf="!checkingDone(server.id); else processDone" >
            <mat-progress-spinner matSuffix class="search-spinner" color="warn" mode="indeterminate"
                                  diameter="20">
            </mat-progress-spinner>
          </ng-container>
          <ng-template #processDone>test</ng-template>
        </mat-list-item>
      </div>
    </mat-list>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
